<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581377307252-og963pu9a6uajocvkvem3s3lis1irgct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581377307252-og963pu9a6uajocvkvem3s3lis1irgct</string>
	<key>API_KEY</key>
	<string>AIzaSyCH5C98WYEkQzQtmG3E24kyF9oxdlEPo1c</string>
	<key>GCM_SENDER_ID</key>
	<string>581377307252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucthoisang.childkit-client</string>
	<key>PROJECT_ID</key>
	<string>childkit-1c357</string>
	<key>STORAGE_BUCKET</key>
	<string>childkit-1c357.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581377307252:ios:fb8499ca37b8c3a9</string>
	<key>DATABASE_URL</key>
	<string>https://childkit-1c357.firebaseio.com</string>
</dict>
</plist>